*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}   
body{
    background-image: linear-gradient(#00000001, #00000063), url(menu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}
.container{
    min-height: 1400px;
    padding: 3%;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center ;
    justify-content: space-between; 
}
nav .logo{
    font-size: 35px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav ul{
    list-style: none;

}
nav ul li{
    display: inline-block;

}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0.6s;
    margin-left: 1600px;
   
}
nav ul li a:hover{
    background-color: rgb(9, 255, 0);

}