:root {


    --color-blue-50: #4759cf;
    --color-blue-100: #2d3fb3;
    --color-blue-200: #0b1c90;

    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-200));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Catileias', sans-serif;

}

@font-face {
    font-family: 'Catileias';
    src: url(Catfiles.otf);
}

#container {
    
    width: 100%;
    margin: 0 auto; 
    height: 100vh;
    background: var(--color-gradient);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    
}


.meialua{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 210, 237);
    clip-path: circle(48% at bottom right);
}

#logo img{
    display: flex;
    width: 700px;
    position: absolute;
    padding: 90px;
    margin-top: 560px;
    margin-left: 1540px;
    border: none;
    outline: none;
    box-shadow: none;

}
#logonome {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 280px;
    margin-top: 390px;
    font-size: 95px;
    transiton: transform 0.2s ease;


}
#logonome :hover {
    transfom: scale(1.05);
}



.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 25px;
    margin-top: -500px;
    margin-left: 1960px;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}
.icons i{
    margin: 14px;
    color: aliceblue;
    opacity:0.4;
} 
.icons a {
    text-decoration: none;
}
.icons i :hover{
    transform: scale(1.0);
    opacity:1;
    
}
@keyframes foguete{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(-10px);

    }
    50%{
        transform: translatey(10px);

    }
    100%{
        transform: translatey(0px);

    }

    
}

@keyframes cometa{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(10px);

    }
    50%{
        transform: translatey(-10px);

    }
    100%{
        transform: translatey(0px);

    }
}
@keyframes planeta3{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(-20px);

    }
    50%{
        transform: translatey(20px);

    }
    100%{
        transform: translatey(0px);

    }
}
.planeta1{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 1500px;
    margin-top: -40px;
    animation: foguete 5s ease-out alternate infinite forwards;


}
.cometa{
    
    width: 100%;
    height: 100%;
    margin-left: 460px;
    margin-top: 100px;
    position: absolute;
    animation: cometa 3s ease-out alternate infinite forwards;
    
}
.planeta3{
    width: 100%;
    height: 100%;
    margin-top: 120px ;
    position: absolute;
    animation: planeta3 9s ease-out alternate infinite forwards;

}
.planeta4{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 850px;
    margin-left: -300px;
    
}
.conta1{
    width: 100%;
    height: 100%;
    margin-top: 350px;
    margin-left: 600px;
}


