:root {


    --color-blue-50: #2a3baa;
    --color-blue-100: #2f3d99;
    --color-blue-200: #2b3573;

    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-200));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    position: relative;
    font-family: grafiti;
    overflow-x: hidden;
    overflow-y: hidden;
    
   
}
.IMG img{
    width: 40px;
    
    position: relative;
   
    
    
}

.meialua{
    position: absolute;
    top: 0;
    width: 97.4%;
    height: 100%;
    background-color: rgb(135, 210, 237);
    clip-path: circle(50% at bottom right);

}

#logo img{
    display: flex;
    width: 700px;
    position: absolute;
    padding: 90px;
    margin-top: 240px;
    margin-left: 895px;
    border: none;
    outline: none;
    box-shadow: none;

}

#logonome img{

    width: 1790px;
    margin-left: -510px;
    margin-top: -110px;
    transition: transform 0.3s ease;
    

}

#logonome img:hover {
    transform: scale(1.1); /* Aumenta a escala em 10% ao passar o mouse */
}

